<mat-toolbar  [color]="themeService.getTheme()" style="display: flex; justify-content: space-between;">
   <button mat-icon-button *ngIf="sidenav.mode==='side'" (click)="sidenav.toggle()">
   <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
   <mat-icon *ngIf="sidenav.opened">close</mat-icon>
</button>
    <div>Student ATTENDANCE</div>
    
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>palette</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
            <button class="button-margin" mat-fab color="primary" (click)="changeTheme('primary')"> 
            <mat-icon *ngIf="themeService.getTheme()==='primary'">done</mat-icon>
        </button>
        <button class="button-margin" mat-fab color="accent" (click)="changeTheme('accent')"> 
            <mat-icon *ngIf="themeService.getTheme()==='accent'">done</mat-icon>
        </button> <button class="button-margin" mat-fab color="warn" (click)="changeTheme('warn')"> 
            <mat-icon *ngIf="themeService.getTheme()==='warn'">done</mat-icon>
        </button>
       
      </mat-menu>
      <button mat-icon-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon></button>
     
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav"opened="true" mode="side">
        <img src="../../../assets/profile.png" class="avtar" alt="">
       
        <mat-divider class="custom-divider"></mat-divider>


        <button mat-button class="menu-button" [color]="themeService.getTheme()" routerLinkActive="active" routerLink='/article/dashboard' >
        <mat-icon>home</mat-icon>
        <span>Dashboard</span>
        </button>
        <mat-divider class="custom-divider"></mat-divider>
        
        <button mat-button class="menu-button" [color]="themeService.getTheme()" routerLinkActive="active" routerLink='/article/help' >
            <mat-icon>help</mat-icon>
            <span>Help</span>
            </button>
    </mat-sidenav>
    <mat-sidenav-content style="background:radial-gradient(red,#332042);">
      <div class="content mat-elevation-z8" style="background-color: azure;" >
      <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>