<mat-toolbar class="mat-elevation-z8" [color]="themeService.getTheme()" style="display: flex; justify-content: space-between;">
    <div>Student ATTENDANCE</div>
    <div>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>palette</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button class="button-margin" mat-fab color="primary" (click)="changeTheme('primary')"> 
          <mat-icon *ngIf="themeService.getTheme()==='primary'">done</mat-icon>
      </button>
      <button class="button-margin" mat-fab color="accent" (click)="changeTheme('accent')"> 
          <mat-icon *ngIf="themeService.getTheme()==='accent'">done</mat-icon>
      </button> <button class="button-margin" mat-fab color="warn" (click)="changeTheme('warn')"> 
          <mat-icon *ngIf="themeService.getTheme()==='warn'">done</mat-icon>
      </button>
       
      </mat-menu>
      <button mat-icon-button [routerLink]="['/login']">
        <mat-icon>login</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <login2 style="background-color: linear-gradient(to right, #000000, #486e95);"></login2>
  
  <mat-toolbar [color]="themeService.getTheme()" class="footer" style="flex-direction: column; flex-wrap: wrap; align-items: center;">
    A group project by <b>{{  name1  }} </b>
    <b>{{  name2  }} </b> 
    <b>{{  name3  }} </b>
  </mat-toolbar>
  